{% extends 'comp_detect/base.html' %}
{% load static %}

{% block content %}
    <!--Home-->
    <section id="home-section" class="py-10">

        <div class="home-inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">

                        <div class="d-block d-lg-block justify-item-center">

                            <img src="{% static 'comp_detect/img/doctor.png' %}" alt="" class="img-fluid d-none d-lg-block">
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <h1 class="display-3">Data Treat</h1>


                        <div class="d-flex text-white">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-medkit fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                <p>Diabetes is a chronic, metabolic disease characterized by elevated levels of blood
                                    glucose (or blood sugar),
                                    which leads over time to serious damage to the heart, blood vessels, eyes, kidneys,
                                    and nerves. </p>
                            </div>

                        </div>



                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-medkit fa-2x" aria-hidden="true"></i>

                            </div>
                            <div class="p-4 align-self-end text-white">
                                <p> Currently there are over 199 million women living with diabetes. It is projected to
                                    increase to 313 million by 2040.
                                    Diabetes is the ninth leading cause of death in women globally, causing 2.1 million
                                    deaths per year. </p>
                            </div>

                        </div>

                        <div class="d-flex">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-medkit fa-2x" aria-hidden="true"></i>

                            </div>
                            <div class="p-4 align-self-end text-white">
                                <p> According to the WHO, there is no exact data of patients with diabetes in Nepal.
                                    But, the 2016 Diabetes Profile has shown that 9.1 percent
                                    Nepali population are living with diabetes. It includes 10.5 percent men and 7.9
                                    percent women.</p>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'comp_detect:treatment' %}" class="btn btn-center btn-primary btn-lg p-2">Check Diabetes Complication</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
{% endblock %}
