{% extends 'comp_detect/base.html' %}
{% load static %}

{% block content %}
    <section id="treatment" class="py-5 my-5">
      <div class="container shadow-sm p-5 border">
        <div class="row">
          <div class="col-12">
            <h3>Treatment</h3>
            <p class="lead text-muted">Fill in the following fields.</p>
            <hr>
            <form id="testResultForm" action="#" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-md-4 text-md-right">Gender:</label>
                <div class="col-md-4">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="sex" value="0" required>Female
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="sex" value="1">Male
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="medInTime">Medicine Intake Time(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="medInTime" id="medInTime" step="0.01" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="age">Age(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="age" id="age" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="timeSufDbt">Time Sufferring from Diabetes(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="timeSufDbt" id="timeSufDbt" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="avgDbtRate">Average Diabetes Rate:</label>
                <div class="col-md-4">
                  <select name="avgDbtRate" class="form-control" id="avgDbtRate" required>
                    <option value="">Choose a rate</option>
                    <option value="0">100-110</option>
                    <option value="1">110-125</option>
                    <option value="2">125-140</option>
                    <option value="3">140-155</option>
                    <option value="4">155+</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="type">Type of Diabetes:</label>
                <div class="col-md-4">
                  <select name="type" class="form-control" id="type" required>
                    <option value="">Choose a type</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="bplvl">Blood Pressure Level:</label>
                <div class="col-md-4">
                  <select name="bplvl" class="form-control" id="bplvl" required>
                    <option value="">Choose a BP level</option>
                    <option value="0">110-125</option>
                    <option value="1">125-150</option>
                    <option value="2">150-165</option>
                    <option value="3">165+</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="otherProb">Other Problem:</label>
                <div class="col-md-4">
                  <select name="otherProb" class="form-control" id="otherProb" required>
                    <option value="7">None</option>
                    <option value="0">Gastric</option>
                    <option value="1">Eye Problems</option>
                    <option value="2">Heart Diseases</option>
                    <option value="3">Kidney</option>
                    <option value="4">Lung</option>
                    <option value="5">Other Major Operation</option>
                    <option value="6">Stone</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Predict Complication</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
