{% extends 'comp_detect/base.html' %}
{% load static %}

{% block content %}
    <section id="treatment" class="py-5 my-5">
      <div class="container shadow-sm p-5 border">
        <div class="row">
          <div class="col-12">
            <h3>Treatment</h3>
            <p class="lead text-muted">Fill in the following fields.</p>
            <hr>
            <form id="testResultForm" action="#" method="post">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-md-4 text-md-right">Gender:</label>
                <div class="col-md-4">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="sex" value="0" required>Female
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="sex" value="1">Male
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="medInTime">Medicine Intake Time(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="medInTime" id="medInTime" step="0.01" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="age">Age(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="age" id="age" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="timeSufDbt">Time Sufferring from Diabetes(Years):</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" name="timeSufDbt" id="timeSufDbt" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="avgDbtRate">Average Diabetes Rate:</label>
                <div class="col-md-4">
                  <select name="avgDbtRate" class="form-control" id="avgDbtRate" required>
                    <option value="">Choose a rate</option>
                    <option value="0">100-110</option>
                    <option value="1">110-125</option>
                    <option value="2">125-140</option>
                    <option value="3">140-155</option>
                    <option value="4">155+</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="type">Type of Diabetes:</label>
                <div class="col-md-4">
                  <select name="type" class="form-control" id="type" required>
                    <option value="">Choose a type</option>
                    <option value="0">Type-1 (Juvenile-onset)</option>
                    <option value="1">Type-2 (Non-insulin dependent or Adult-onset)</option>
                    <option value="2">Type-3 (Gestational)</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="bplvl">Blood Pressure Level:</label>
                <div class="col-md-4">
                  <select name="bplvl" class="form-control" id="bplvl" required>
                    <option value="">Choose a BP level</option>
                    <option value="0">110-125</option>
                    <option value="1">125-150</option>
                    <option value="2">150-165</option>
                    <option value="3">165+</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="otherProb">Other Problem:</label>
                <div class="col-md-4">
                  <select name="otherProb" class="form-control" id="otherProb" required>
                    <option value="7">None</option>
                    <option value="0">Gastric</option>
                    <option value="1">Eye Problems</option>
                    <option value="2">Heart Diseases</option>
                    <option value="3">Kidney</option>
                    <option value="4">Lung</option>
                    <option value="5">Other Major Operation</option>
                    <option value="6">Stone</option>
                  </select>
                </div>
              </div>
              <h5>Lab Tests</h5>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="vitaminC">Vitamin C (mg/dL)</label>
                <div class="col-md-4">
                  <select name="vitaminC" class="form-control" id="vitaminC">
                    <option value="">None</option>
                    <option value="0">&lt;0.2</option>
                    <option value="1">0.6+</option>
                    <option value="2">0.2-0.6</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="bloodKet">Blood ketones</label>
                <div class="col-md-4">
                  <select name="bloodKet" class="form-control" id="bloodKet">
                    <option value="">None</option>
                    <option value="0">&lt;0.6</option>
                    <option value="1">1.5+</option>
                    <option value="2">0.6-1.5</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="uroporphytrin">Uroporphytrin</label>
                <div class="col-md-4">
                  <select name="uroporphytrin" class="form-control" id="uroporphytrin">
                    <option value="">None</option>
                    <option value="0">2.4+</option>
                    <option value="1">&lt;2.4</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="blood_bilburin">Blood Bilburin</label>
                <div class="col-md-4">
                  <select name="blood_bilburin" class="form-control" id="blood_bilburin">
                    <option value="">None</option>
                    <option value="0">0.3+</option>
                    <option value="1">&lt;0.3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="rbc_cnt">RBC Count(million cells/micro litre)</label>
                <div class="col-md-4">
                  <select name="rbc_cnt" class="form-control" id="rbc_cnt">
                    <option value="">None</option>
                    <option value="0">&lt;4.7</option>
                    <option value="1">6.4+</option>
                    <option value="2">4.7-6.4</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="blood_urea_nit">Blood Urea Nitrogen(mg/dL)</label>
                <div class="col-md-4">
                  <select name="blood_urea_nit" class="form-control" id="blood_urea_nit">
                    <option value="">None</option>
                    <option value="0">&lt;7</option>
                    <option value="1">20+</option>
                    <option value="2">7-20</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="wbc_cnt">WBC Count(per micro litre)</label>
                <div class="col-md-4">
                  <select name="wbc_cnt" class="form-control" id="wbc_cnt">
                    <option value="">None</option>
                    <option value="0">&lt;4000</option>
                    <option value="1">7000+</option>
                    <option value="2">4000-7000</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 text-md-right align-self-center" for="cyroprotein">Cyroprotein(g/L)</label>
                <div class="col-md-4">
                  <select name="cyroprotein" class="form-control" id="cyroprotein">
                    <option value="">None</option>
                    <option value="0">&lt;30</option>
                    <option value="1">30+</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary">Predict Complication</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
