/* titillium-web-regular - latin */
/* titillium-web-regular - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: url('../vendor/fonts/titillium-web-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
			 url('../vendor/fonts/titillium-web-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../vendor/fonts/titillium-web-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../vendor/fonts/titillium-web-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../vendor/fonts/titillium-web-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../vendor/fonts/titillium-web-v6-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* josefin-sans-regular - latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../vendor/fonts/josefin-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
			 url('../vendor/fonts/josefin-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../vendor/fonts/josefin-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../vendor/fonts/josefin-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../vendor/fonts/josefin-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../vendor/fonts/josefin-sans-v12-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

.btn{
    border-radius: 0px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

/*===========================
        Navigation 
============================*/
.navbar{
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: rgb(255, 255, 255);

}

.nav-item{
    font-size: 1.4rem;
    padding-right: 1.4rem;
        
}

/*===========================
        Home Section 
============================*/
#home-section{
    background: rgba(245, 244, 244, 0.932);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
    padding-top: 150px;
    border-bottom: 2px solid rgba(143, 138, 138, 0.596);
}


#home-section h1{
    font-weight: 600;
    color: rgba(26, 24, 24, 0.767);
    
}

#home-section .card-form{
    opacity: 0.8;
}

#home-section .fa{
    color: rgb(0, 0, 0);
}

#home-section p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.801);
}


/*===========================
        Contact Form 
============================*/

#contact{
    padding-top: 150px;
    border-top: 2px solid rgba(143, 138, 138, 0.596);
}



/*===========================
        Copyrights 
============================*/
#main-footer{
    background: #303940;
    padding: 3rem 0;
    font-size: 20px;
    
}